<p>server-example works!</p>
<ul class="meal-list">
  <li
    *ngFor="
      let meal of asyncMeals
        | async
        | paginate
          : config
    "
  >
    {{ meal }}
  </li>
</ul>

<div class="has-text-centered">
  <div class="spinner" [ngClass]="{ hidden: !loading }"></div>

  <!--
  <pagination-controls
    (pageChange)="getPage($event)"
    id="server"
  ></pagination-controls>
  -->

  <custom-template [config]="config" (pageChange)="getPage($event)"></custom-template>


</div>
